<!DOCTYPE html>
<html class="no-js no-highcontrast">
  <head>
    <meta charset="utf-8">
    <title>{{ title|default('Manage Users') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="{{ base|default('/') }}" />

    <link rel="stylesheet" href="assets/css/main{% if production %}.min{% endif %}.css">
    <script type="text/javascript" src="assets/js/vendor/modernizr.js"></script>
  </head>
