{% include 'header.twig' with {'base' : '/'} %}
<body>
  <div id="manage-users-form">
    <div>
      <header>
        <h1>Hello World Update User Twig</h1>
        <div class="create-user-module">
          <form action="/update/user" method="post" class="create-setting-form">
              {{ react }}
          </form>
        </div>
      </header>
    </div>
  </div>
</body>
