{% include 'header.twig' with {
  'base':'/',
  'title':'Update Users'
} %}
<body class="micro-page">
  <div id="fold">
    <div id="manage-user-form__header">
      <header>
        <h1>Updated User {{ user.username }} ({{ user.id }})</h1>
      </header>
    </div>
    <div class="horizontally-padded">
      <aside class="bright padded">
        <h1>Manage Users</h1>
        <p>
          Return to <a href="/">Manage Users</a>.
        </p>
      </aside>
    </div>
  </div>
</body>
