@import "bourbon/bourbon";
@import "neat/neat";

@import "spec/tacular";

@import "globals/globals";

$white:white;

textarea, input[type="text"] {
  box-sizing:border-box;
}

body {
  margin:0;
  background:rgb(239,239,239);
  font-family: -apple-system,
       BlinkMacSystemFont,
       "Segoe UI",
       Roboto,
       Oxygen-Sans,
       Ubuntu,
       Cantarell,
       "Helvetica Neue",
       sans-serif;
}

%painted {
  background-image: linear-gradient(to right, #3f4850 0%, #365462 46%, #3e5554 60%, #42554d 68%, #573d4e 100%);
}

#mainnav {
  @extend %painted;
  color:white;
  //min-height:100vh;
}

.logo {
  height:2rem;
  width:2rem;
}

#mainnav {
  //@include outer-container;
  padding:0.5em 0 0 0;
  > * {
    padding:0 1em;
  }
  h1,.version {
    margin:0 auto;
    code {
      font-weight:400;
      font-size:0.8em;
      padding-left:.2em;
    }
  }
  .version {
    font-size:1.1em;
    font-style:italic;
    font-weight:400;
    color:rgb(248,248,248);
    display:flex;

    span {
      line-height:2rem;
      padding-left:.4em;
    }
  }
  a {
    color:currentColor;
  }
}

[visually-hidden] {
  @extend %accessibly-hidden;
}

html:not(.hide-unmatched-elements) {
  #mainnav__nav {
  li {
    &[hidden] {
      display:block;
      opacity:0.5;
    }
  }
  }
}

[mobile-hidden] {
  @include media($iphoneP) {
    @include accessibly-hidden;
  }
}

#stickybar {
  @extend %painted;
  display:flex;
  justify-content: flex-end;
  color:white;
  align-content:center;
  padding:.5rem;
  border-bottom: 1px solid #1a2b3d;

  @include media(min-height 320px 4) {
    position:sticky;
    position:-webkit-sticky;
    top:0;
    z-index:99999;
  }
  > div > * {
    margin-right:0.5rem;
    &:last-child {
      margin-right:0;
    }
  }
  >* {
    &:first-child {
      margin-right:auto;
    }
  }
  div {
    a, button {
      appearance:none;
      -webkit-appearance:none;
      border:1px solid $dark;
      margin-right:.5rem;
      color:black;
      background:white;
      display:inline-block;
      text-decoration:none;
      border-radius:4px;
      font-size:.8rem;
      font-family:inherit;
      padding-top: 2px;
      padding-right: 6px;
      padding-bottom: 3px;
      padding-left: 6px;
    }
  }
  > div {
    display:flex;
    align-items: center;


  }
  h2 {
    margin:0;
  }
}

#uberform {
  position:relative;
  //position:sticky;
  //position:-webkit-sticky;
  //top:0;
  min-height:2em;
  //padding-top:1em;
  margin-top:1em;
  margin-bottom:1em;
  font-size:1.2em;
  > div {
    position:relative;
  }
  label[for="ubersearch"] {
    position:absolute;
    color:#2F363D;
    bottom:0.25em;
    z-index:1;
  }
  #ubersearch {
    min-width:16rem;
    font-size:1em;
    line-height:4rem;
    padding:0 1rem;
    width:100%;
    border-radius:em(4px);
    border:1px solid grey;
    margin-bottom:1rem;
    + label[for="ubersearch"] {
      html.js & {
        color:grey;
        text-transform:uppercase;
        font-size:.8em;
        font-weight:500;
        transition:all 0 ease;
        transition-delay:200ms;
        position:absolute;
        left:1rem;
        bottom:2rem;
        font-size:1.2em;
      }
    }

    /*&:not(.dirty) {

    }
    &:placeholder-shown {

    }*/

  &::-webkit-input-placeholder {
   opacity: 0;
   transition:opacity 240ms ease;
   transition-delay:120ms;
  }

    /*&:invalid {
    }*/

    /*+ label[for="ubersearch"] {
    }*/

    &:focus, &.dirty {
      padding-top:.5rem;
      transition:padding 240ms ease;
      &::-webkit-input-placeholder {
        opacity:1;
        transition-delay:240ms;
      }
      & + label[for="ubersearch"] {
          font-size:.8rem !important;
          font-weight:bold !important;
          bottom:4rem !important;
          color:$dark !important;
          text-transform:uppercase !important;
          font-style:normal !important;
      }
    }
  }
}

summary {
  padding:1rem .5rem;
  h1,h2,h3,h4,h5,h6 {
    display:inline;
  }
}

* {
  &:target {
    //box-shadow: 0 0 5px #51cbee;
    //border: 1px solid #51cbee; // opera mini doesn't support outline or @supports :(
    /*::-webkit-details-marker {
      color:#EB6436;
    }*/

  > summary {
    background:#EB6436;
    color:white;
  }

  }
}

.button-row {
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}

details nav {
  a {
    html.js & {
      color:currentColor;
      text-decoration:none;
    }
  }
  ul {
    list-style-type: none;
    margin:0;
    padding:0 0 0 0.5rem;
    li {
      margin-bottom:0.5em;
      &:last-of-type {
        margin:0;
      }
    }
  }
}

details {
  > nav {
    header {
      padding:0 0.5rem;
    }
  }
  &.context {
    > nav {
      padding:0 0.5rem;

    }

    > summary {
      //@include outer-container;
      &::-webkit-details-marker {
        transform:translateY(1.2em);
      }
      > div {
        display:flex;
        justify-content:flex-end;
        padding-left:1em;
        h3 {
          margin:0;
          margin-right:auto;
        }
        > div {
          //float:right;
        }
      }
    }
    ul {
      margin:0;
      padding:0 0.5rem;
      list-style-type:none;
    }
    .flexible {
      display:flex;
      h3 {
        flex-grow:10;
        margin:0;
      }
    }
  }
}

#mainnav__nav {
  h1,h2,h3,h4,h5,h6 {
    margin-bottom:0;
  }
  p {
    margin-top:0.5em;
  }
  html.js & {
    a {
      text-decoration:none;
    }
  }
  padding:0;
  ul {
    padding-left:0;
    border-bottom:1px solid #1a2b3d;
    margin:0;
  }
  details {
    border-bottom:1px solid #1a2b3d;
    &[open] {
      padding-bottom:0;
      margin-bottom:0;
      border:none;
    }
    nav {
      background:#2c3a48;
    }
    p {
      margin-bottom:0;
    }
    li {
      padding-bottom:1em;
    }

  }

  li {
    border-top:1px solid #1a2b3d;
    padding:0 1em;
    color:#C9D4E1;
    p {
      color:#5ABCE5;
    }
  }
}

.radio-bar fieldset {
  border-color:white;
}

.radio-bar fieldset > div {
  display:flex;
  > * {
    margin-right:.5em;
  }
  input[type="radio"] {
    font-size:1.4em;
  }
}

%shaded {
  box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.1);
}

h1 {
  color:$dark;
  #mainnav & {
    color:currentColor;
  }
}

.document, .resource-groups, .settings, .content, .light {
  background:white;
  color:$dark;
  > div {
    padding:0 .5rem;
  }
  input, textarea, select, option {
    font-size:1.4em;
  }
}

.resource-groups {
  table {
    th,td {
      &:first-of-type {
        width:90%;
      }
    }
  }
}

main {
  h1 {
    padding:0 0.5rem;
  }
  > section {
    &:last-of-type {
      > div > details {
        padding-bottom:0.5rem;
      }
    }
  }
}

table {
  width:100%;
  th {
    text-align:left;
  }
}

ul.discrete {
  margin:0;
  padding:1rem 0;
  list-style-type: none;
  li {
    padding-bottom:0.5rem;
    &:last-of-type {
      padding-bottom:0;
    }
  }
}

/*main {
  >*:last-child {
    padding-bottom:.5rem;
  }
}*/

input[type="text"], textarea {
  width:100%;
}

#tree {
  @extend %shaded;
  background:$white;
  color:#566d87;
  padding-bottom:1rem;
  summary summary {
    padding:0;
  }
}

main > header > details {
  label {
    display:block;
  }
  > div > div > * {
    &:last-child {
      padding-bottom:0;
    }
  }
  > div > div > div {
    margin-bottom:0.5rem;
    &:last-of-type {
      margin-bottom:0;
    }
  }
  &.settings {
    fieldset {
      label {
        display:inline-block;
      }
    }
  }
}

label {
  &[for="hidemenu"], &[for="published"] {
    display:inline;
  }
}

#contentarea {
  width:100%;
}

#content > details > div {
  padding:0 0.5rem;
}

.actionnav {
  font-size:1em;
  color:#555555;
  padding:0.5rem;
  background:rgb(228,228,228);
  nav {
    display:flex;
    flex-wrap:wrap;
    button,a {

      line-height:3rem;
      font-size:inherit;
      background:$white;
      text-align:center;
      color:currentColor;
      text-decoration:none;
      display:block;
    }
    > * {
      margin:0;
      padding:0;
      flex-grow:1;
      border-radius:.25rem;
      border:none;
      margin-right:.4rem;
      &:first-child {
        flex-basis:100%;
        margin-right:0;
        margin-bottom:.4rem;
        background-color: #2b9385;
        background-image: linear-gradient(#2b9385, #007571);
        color:$white;
      }
      &:last-child {
        margin-right:0;
      }
    }
  }
}
