@import "bourbon/bourbon";
@import "neat/neat";

@import "spec/tacular";

$black:rgb(8,8,8);
$white:white;
$link:rgb(0, 0, 238); // default link blue
$active:rgb(255,0,0); // default link red
$go:darken(#55AE3D,12%); // MODX green
$borderColor:rgb(200,200,200);

@import "highcontrast";

%bright-padded-module {
  background:$white;
  padding:.5rem;
  margin-bottom:.5em;
  border:1px solid rgb(200,200,200);

  @include media($gtMobile) {
    margin-bottom:1em;
    padding:1rem;
  }
}

.accessibly-hidden {
  @extend %accessibly-hidden;
}

legend {
  position:relative;
}

.button-bar {
  margin:1em 0;
}

.shy.checkbox {
  width:1em;
}

.oblique {
  font-style:italic;
}

.micro-page {
  text-align:center;
  > * {
    text-align:left;
    max-width:42em;
    margin-left:auto;
    margin-right:auto;
  }
  table {
    width:100%;
  }
}

/*%button-apperance {
  appearance: button;
}

.button {
  @extend %button-apperance;
}*/

button, .button {
  display: inline-block;
  appearance: none;
  //margin: 10px 0;
  padding: 0px;
  //height: 50px;
  border-width: 0;
  background-color: Red;
  color: White;
  font-family: sans-serif;
  font-weight: normal;
  font-size: inherit;
  text-decoration: none;
  //line-height: 50px;
  cursor: pointer;
  font-size: 100%;
}
button {
  //#width:0px;
  overflow: visible;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button, .button {
  font-size:0.8rem;
  appearance:none;
  display:inline-block;
  padding:0.2rem 0.5rem;
  text-align:center;
  border:1px solid rgb(120,120,120);
  background:rgb(240,240,240);
  color:rgb(60,60,60);
  border-radius:0.2rem;
  text-decoration:none;
  margin:0.2rem;
  transition:all 240ms ease;

  html:not(.react) .contextual-setting & {
    background:$white;
  }

  &:hover,&:focus {
    color:$link;
    border-color:$link;
  }
  &:active {
    color:$active;
    border-color:$active;
  }
  &.go {
    &:hover,&:focus {
      color:$go;
      border-color:$go;
    }
  }
  &[formaction="/users/delete"], &[formmethod="delete"], &.delete, &.danger, &.dangerous {
    &:hover,&:focus {
      color:$active;
      border-color:$active;
    }
  }
  &[disabled] {
    opacity:0.6;
    cursor:not-allowed;

    color:rgb(60,60,60) !important;
    border:1px solid rgb(120,120,120) !important;
    background:rgb(240,240,240) !important;
  }
}

.user-group-roles {
  display:flex;
  flex-wrap:wrap;
  > * {
    flex:1 1 12em;
    margin-right:.5rem;
    margin-bottom:.5rem;
    &:last-of-type {
      margin-bottom:0;
    }
  }
}

.returnto {
  display:flex;
  justify-content:center;
  > * {
    flex:1 1 24em;
    max-width:40em;
    padding-left:.4rem;
    padding-right:.5rem;
  }
}

fieldset {
  border:1px solid $borderColor;
  padding:1em;
}

hr {
  border-style:solid;
  border-width:1px;
  border-top:none;
  border-color:$borderColor;
}

html {
  [a11y-hidden] {
    @extend %accessibly-hidden;
  }
  &.js {
    [js-hidden] {
      display:none;
    }
  }
}

body {
  background:rgb(240,240,240);
  color:rgb(8,8,8);
  padding-top:.5rem;
  @include media($gtMobile) {
    padding-top:1rem;
  }
}

.top-bar {
  //padding-left:1rem;
  //padding-right:1rem;
  margin-bottom:1rem;

  @include media($mobile) {
    display:flex;
    > * {
      flex-grow:1;
      margin-left:0;
      &:last-child {
        margin-right:0;
      }
    }
  }

  a,button {
    margin-right:.5rem;
    @include media($gtMobile) {
      margin-right:1rem;
    }
  }
}

.horizontally-padded {
  padding-left:1rem;
  padding-right:1rem;
}

.bright.padded {
  @extend %bright-padded-module;
}

#manage-users-form, #fold {
  > div {
  }
  #manage-user-form__header header {
    @extend %bright-padded-module;
    h1 {

    }
  }
}

header, aside, .padded {
  > h1 {
    &:first-of-type {
      margin-top:0.5rem;
      @include media($gtMobile) {
        margin-top:0;
      }
    }
  }
}

$headers:h1,h2,h3,h4,h5,h6;

.settings-grid {
  #{$headers} {
    position:relative;
  }
}

.settings-grid > section {
  > div {
    @extend %bright-padded-module;
  }
  //margin-right:1em;
  &:last-of-type {
    //margin-right:0;
  }
}

a.subtle {
  color:inherit;
  text-decoration: none;
}
footer.subtle {
  color:lighten(black,20%);
  font-size:.8em;
}
.oblique {
  font-style:italic;
}
.balanced {
  text-align:center;
}

body {
  margin:0;
  font-family:sans-serif;
  > header {
    padding:0 1em;
  }
}

.friendly-labels {
  display:flex;
  justify-content:center;
  > * {
    margin-right:1em;
    &:last-of-type { margin-right:0 }
  }
}


h1 {
  @include media($gtMobile) {
    //padding:0 1rem;
  }
}

%settings-table {
    //background:rgb(242,242,242);
    margin-bottom:1em;
    label {
      //display:block;
    }
    td,th {
        padding:0.2em 0.4em;
        position:relative;
    }
    thead {
      font-weight:bold;
      font-size:.9em;
        //background:rgb(224,224,224);
        > tr {
            > th {
                border:1px solid rgb(200,200,200);
                &:first-of-type {
                  text-align:left;
                }
            }
        }
    }
    tbody {
        > tr {
            > td {
                border:1px solid rgb(200,200,200);
            }
            &:nth-of-type(even) {
                background:rgb(244,244,244);
            }
            &.open + .contextual-setting, &:focus + .contextual-setting {
                display:table-row !important; /* display the setting form for open rows */
            }
            &:focus {
                html.no-js {
                    background:#F2F2C5; /* highlight focused setting for no-js users */
                }
            }
        }
    }
    &.settings-table {
      thead th, tbody tr td {
        &:first-of-type, &:last-of-type {
          width:1em;
        }
      }
    }
    .contextual-setting {
        background:white;
        html.js.react & {
            background:#F2F2C5;
        }
        text-align:center;

        input {
          &[type="text"] {
            @extend %very-greedy;
            line-height:1.4em;
          }
        }
        > td {
          padding:2em;
            > div {
                h1,h2,h3,h4,h5,h6 {
                    margin-top:0;
                }
            }
        }
    }
}

.create-setting-module, .create-user-module {
  margin-bottom:1em;
}

.balanced {
  text-align:center;
}

.comfortably {
  padding-left:2em;
  padding-right:2em;
}

.quick-create-fields {
  margin-bottom:1em;
}

.create-setting-form, .create-user-form {
  input[type="text"], input[type="email"], input[type="password"], textarea {
    @extend %very-greedy;
  }
  footer {
    text-align:center;
    margin-top:1em;
    > div {
      //text-align:left;
      //margin:1em 0;
      button {
        margin-right:1em;
        &:last-of-type {
          margin-right:0
        }
      }
    }
    button {
      margin-left:auto;
      margin-right:auto;
    }
  }
  label {
    display:block;
  }
}

.create-setting-form {
  margin-bottom:1em;
  > fieldset {
    > div {
      @include media($gtMobile) {
        display:flex;
        flex-wrap:wrap;
        > * {
          flex:1 0 16em;
          padding-right:.5em;
          margin-bottom:.5em;
        }
      }
    }
  }
}

#manage-user-form__header {
  padding-left:.5rem;
  padding-right:.5rem;
  @include media($gtMobile) {
    padding-left:1rem;
    padding-right:1rem;
  }
}

table { // .settings-table
    @extend %settings-table;
    .username {
      width:100% !important; //#janky
    }
}

.settings-grid {
  display:flex;
  flex-wrap:wrap;

  align-content:center;
  justify-content:center;

  padding-left:.5rem;
  padding-right:.5rem;

  > * {
    flex:1 1 24em;
    max-width:40em;

    @include media($gtMobile) {
      display:flex;
      flex-direction:column;
      padding-left:.5rem;
      padding-right:.5rem;
      > * {
        flex:1 0 auto;
      }
    }
  }

  table {
    @extend %very-greedy;
  }

  h2 {
    text-align:center;
  }

  form {
    text-align:center;
    table,footer {
      margin-left:auto;
      margin-right:auto;
    }
  }
  footer {
    padding-top:1em;
  }
  footer p {
    text-align:center;
    margin-bottom:0;
  }
}

form.search-settings, form.search-users {

  @include media($gtMobile) {
    display:flex;
    //padding:0 1rem;
  }
  //max-width:36rem;

  font-size:1.1em;
  > label, > .search-users-wrapper {
    flex-grow:1;


    @include media($gtMobile) {
      max-width:50vw;
      margin-right:.5em;
    }
  }
  > label[for="filter-by"], #filter-by {
    text-align:right;
    margin-top:.8rem;
  }
  > div {
    //padding-top:1em;
  }
  button {
    @include media($mobile) {
      display:block;
      width:100%;
      margin:0 0 1em 0;
      line-height:1.5;
    }
  }
  input,button {
    font-size:inherit;
  }
}

[a11y-hidden] {
  @extend %accessibly-hidden;
}

input[name*="search"] {
  @extend %very-greedy;
  //margin-bottom:1em;
  line-height:1.5;
  @include media($gtMobile) {
    line-height:1.6rem;
  }
}

#search, #search-users {
  margin-bottom:1em;
  @include media($gtMobile) {
    margin-bottom:0.2em;
  }
}

label[for="filter-by"] {
  text-align:right;
}

.user-group-field {
  label {
    display:inline-block;
  }
}

.user-group-field {
  display:flex;
  justify-content:center;
  > * {
    flex:1 0 auto;
    text-align:center;
  }
}

/*$sterc:#de007a;
#user-group-4 {
  h1,h2,h3,h4,h5,h6 {
    color:$sterc;
  }
}*/
