<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Matboard Template</title>
        <meta name="description" content="Default Matboard Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../../../assets/default/css/main.css">
        <script src="../../../assets/default/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
		<div id="wrapper">
			<section id="main-content">
				<header>
					<h1 data-value="pagetitle"></h1>
				</header>
				<form name="resource" action="" method="POST">
					<div class="tabs">
						<div class="tab">
							<fieldset>
								<div class="field">
									<label>Title</label>
									<input id="pagetitle" required />
								</div>
							</fieldset>
							<fieldset>
								<div class="field">
									<label>Alias</label>
									<input id="alias" />
								</div>
							</fieldset>
						</div>
					</div>
					<div id="content-wrapper">
						<fieldset>
							<label>Content</label>
							<textarea id="content" rows="18"></textarea>
						</fieldset>
					</div>
					<nav class="resource-btns">
						<ul>
							<li>
								<button id="save" type="submit" disabled>Save</button><!-- disabling this button requires js for submit -->
							</li>
						</ul>
					</nav>
				</form>
			</section>
		</div>
    </body>
</html>
