<section id="main-content">
	<header>
		<h1 ng-bind="displayTitle">New Resource</h1>
	</header>
	<form name="resource" action="" method="POST">
		<div class="tabs">
			<div class="tab">
				<fieldset>
					<div class="field">
						<label>Title</label>
						<input id="pagetitle" ng-value="New Post" ng-model="title" ng-change="handleTitleChange()" required  />
					</div>
				</fieldset>
				<fieldset>
					<div class="field">
						<label>Alias</label>
						<input id="alias" ng-model="alias" ng-change="aliasEdited = true" required  />
					</div>
				</fieldset>
			</div>
		</div>
		<div id="content-wrapper">
			<fieldset>
				<label>Content</label>
				<textarea id="content" rows="18" ng-model="content"></textarea>
			</fieldset>
		</div>
		<nav class="resource-btns">
			<ul>
				<li>
					<button id="save" type="submit" ng-click="handleSave()" ng-disabled="!resource.$dirty">Save</button><!-- disabling this button requires js for submit -->
				</li>
			</ul>
		</nav>
	</form>
</section>