<section id="main-content">
	<header>
		<h1 data-ng-bind="displayTitle">New Resource</h1>
	</header>
	<form name="resource" data-ng-submit="savePage(page)" data-leaving-page="">
		<div class="tabs">
			<div class="tab">
				<fieldset>
					<div class="field">
						<label>Title</label>
						<input id="pagetitle" data-ng-model="page.title" data-ng-change="handleTitleChange(page.title)" required  />
					</div>
				</fieldset>
				<fieldset>
					<div class="field">
						<label>Alias</label>
						<input id="alias" data-ng-model="page.alias" data-ng-change="aliasEdited = true" required  />
					</div>
				</fieldset>
			</div>
		</div>
		<div id="content-wrapper">
			<fieldset>
				<label>Content</label>
				<textarea id="content" rows="18" data-ng-model="page.content"></textarea>
			</fieldset>
		</div>
		<nav class="resource-btns">
			<ul>
				<li>
					<button id="save" type="submit" ng-disabled="!resource.$dirty">Save</button><!-- disabling this button requires js for submit -->
				</li>
			</ul>
		</nav>
	</form>
</section>