<div class="checkboxes">
{% if options.length %}
  <div class="auto-tags">
  {% for option in options %}
  <span class="checkbox">
    <input type="checkbox" id="checkbox__{{option.title|e('css')}}" name="checkbox__{{option.title|e('css')}}"> <label for="checkbox__{{option.title|e('css')}}">{{option.title}}</label>
  </span>
  {% endfor %}
  </div>
{% endif %}
