{% if not inputFirst|default(false) %}
<label {% if id %}for="{{id}}"{% endif %}>{{label|default('Input')}}</label>
{% include './input.twig' %}
{% else %}
{% include './input.twig' %}
<label {% if id %}for="{{id}}"{% endif %}>{{label|default('Input')}}</label>
{% endif %}
